$primary: #0D5ADC;
$disabled: #C4C4C4;
$header-border: #E0E4E7;
$text-color: #3B4157;
$shadow-color: #DDE6EB;
$nav-icon-fill: #F4F9FC;
$secondary-background: #F4F9FC;
$text-color-not-accented: #CDCFD2;
$alt-faded: rgba(255, 255, 255, 0.5);
